<section>
    <div class='form'>
      <h1 class='form__title'>Створення товару</h1>
      <form method='POST' action='/product-create'>
          <div class='form__content '>
            <h4 class='content__title'>Інформація про товар</h4>

            <div class='form__info'>
              <div class='form__field'>
                <label
                  for='product-name'
                  class='form__label'
                >Назва товару</label>
                <input
                  type='text'
                  name='name'
                  class='form__input'
                />
              </div>

              <div class='form__field'>
                <label
                  for='product-price'
                  class='form__label'
                >
                  Ціна</label>
                <input
                  type='text'
                  name='price'
                  class='form__input'
                />
              </div>
            </div>

            <div class='form__field'>
              <label
                for='product-price'
                class='form__label'
              >
                Короткий опис товару</label>
              <input
                type='text'
                name='description'
                class='form__input'
              />
            </div>

            <button
              class='form__button '
             
            >Створити товар</button>

          </div>
        </div>
      </form>
    </div>
  </section>